<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
 <appSettings>
  <add key="AppPath" value="C:\apps\DXT\ConsoleApp1\ConsoleApp\Data" />
  <add key="JsonPath" value="C:\apps\DXT\ConsoleApp1\WebApp\dta" />
</appSettings>
</configuration>